@import url(reset.css);

.vh {
	height: 30vw;
	width: 60vh;
	background-color: black;

}

.vminvmax {
	height: 30vmax;
	width: 60vmin;
	background-color: blue;	
}

.ex {
	width: 1000px;
	height: 50px;
	background-color: yellow;
}

.e100 {
	width: 100vw;
	height: 30px;
	background-color: red;
}