@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');
@import url('https://fonts.googleapis.com/css?family=Stalinist+One');


.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-family: 'Vollkorn SC', sans-serif;
	height: 80vh;
}

.header {
	height: 200px;
	display: flex;
	align-items: center;
}

.headerTitle {
	font-size: 40px;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.concentContainer {
	display: inline;
}