@import url(reset.css);

.outer {
	height: 300px;
	width: 80%;
	background-color: black;
	margin: auto;
}

.inner {
	height: 100px;
	width: 70%;
	background-color: blue;
}

.round {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: orange;
}

.popup {
	position: fixed;
	width: 500px;
	height: 200px;
	border: 2px solid black;
	background-color: yellow;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
}